:root {
    /* Marvel Base Colors */
    --brightAccent: #ec2127;
    
    /* Black Widow */
    --maroon: #7a1f1e;
    --black: #000000;
    --baise: #655a57;
    --white: white;

    /* Captain America */
    --red: #aa1f29;
    --darkBlue: #0e103f;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header{

    background-image: url("/assets/images/MarvelHeader.jpeg");
    background-position: center;
}
#View-workouts{
    text-decoration: none;
    font-size: 30px;
    color: white;
}