:root {
    /* Marvel Base Colors */
    --brightAccent: #ec2127;
    
    /* Black Widow */
    --maroon: #7a1f1e;
    --black: #000000;
    --baise: #655a57;
    --white: white;

    /* Captain America */
    --red: #aa1f29;
    --darkBlue: #0e103f;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Bangers', 'roboto';
    font-style: normal;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
}

p {
    font-family: roboto;
}

a {
    text-decoration: none;
    color: white;
}
